@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400, 500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}
body{
    background: #000;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px 100px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
section header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
section header .logo{
    position: relative;
    font-size: 1.5em;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
section header .toggle{
    position: relative;
    width: 40px;
    height: 40px;
    background: url(../img/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.bg{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
}
.bird{
    position: absolute;
    bottom: 0;
    right: 100px;
    max-height: 80%;
}
.content{
    position: absolute;
    left: 100px;
    max-width: 500px;
    /* z-index: 10; */
}
.mobile{
    display: none;
}
.content h2 {
    font-size: 3.5em;
    color: #fff;
    font-weight: 400;
    line-height: 2em;
}
.content h2 span{
    font-weight: 800;
    font-size: 3.5em;
    letter-spacing: 5px;
    font-size: 3em;
}
.content p {
    color: #fff;
    margin-top: -15px;
}
.content a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}
.sci{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    filter: invert(1);
    margin: 5px 0;
    transform: scale(0.6);
}
.textBlocks{
    position: absolute;
    bottom: 0;
    display: flex;
}
.textBlocks .block {
    position: relative;
    padding: 20px;
    margin-right: 40px;
    max-width: 500px;
    background: rgba(0,255,0,0.2);
}
.textBlocks .block h3{
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}
.textBlocks .block p{
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}



@media (max-width: 991px) {
    .mobile{
        display: flex;
    }
    .web{
        display: none;
    }
    .content{
        position: relative;
        left: unset !important;
    }
    .toggleMenu{
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(../img/menu.png);
        background-size: 30px;
        padding-right: 60px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 2;
        /* filter: invert(1); */
    }
    .toggleMenu.active{
        background: url(../img/close.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
    }
    header ul{
        position: fixed;
        top: 0; 
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.2s;
        visibility: hidden;
        opacity: 0;
    }
    section header {
        padding: 40px 40px;
    }
    section {
        padding-left: 40px;
    }
    header ul.active{
        visibility: visible;
        opacity: 1;
    }
    header ul li a{
        display: inline-block;
        color: #111;
        font-weight: 400;
        margin-left: 0;
        text-decoration: none;
        font-size: 2em;
        margin: 10px 0;
    }
    header ul li a:hover{
        color: #017143;
    }
    .content h2 {
        font-size: 2em;
        color: #fff;
        font-weight: 400;
        line-height: 1.4em;
    }
    .content h2 span{
        font-weight: 800;
        font-size: 2.7em;
        letter-spacing: 6px;
    }
    .content p {
        color: #fff;
        margin-top: -5px;
    }
    .bird {
        right: -170px !important;
        max-height: 90%;
    }
    .bg{
        width: 100% !important;
        height: 100% !important;
    }
}

@media (max-width: 600px) {
    .textBlocks{
        position: absolute;
        bottom: 0;
        display: -webkit-box;
        margin-top: 100px;
    }
    .content{
        position: relative;
        left: unset !important;
    }
    .textBlocks .block {
        position: relative;
        padding: 20px;
        margin-bottom: 20px;
        margin-right: 40px;
        max-width: 500px;
        background: rgba(0,255,0,0.2);
    }
    .textBlocks .block h3{
        font-weight: 600;
        letter-spacing: 1px;
        color: #fff;
    }
    .textBlocks .block p{
        font-weight: 600;
        letter-spacing: 1px;
        color: #fff;
    }
    .bird {
        position: absolute;
        bottom: 0;
        right: -280px !important;
        max-height: 90%;
    }
    .bg{
        width: 100% !important;
        height: 100% !important;
    }
}
@media (max-width: 400px) {
    .bird {
        right: -230px !important;
        max-height: 95%;
    }
    .content h2{
        font-size: 1.5rem;
    }
    .textBlocks .block {
        padding: 10px;
        margin-bottom: 15px;
        margin-right: 20px;
    }
    .bg{
        width: 100% !important;
        height: 100% !important;
    }
}